<div class="columns small-10 gallery-content">

    <div class="row full-width align-center">
        <button class="columns hollow button" ng-repeat="button in genres" ng-click="filterByGenre(button)">{{button}}</button>
    </div>


    <div class="row full-width">
        <div class="columns small-2 movie-gallery-profile" ng-repeat="movie in selectedMovies">
            <img ng-click="goToDetail(movie.rank)" ng-src="data/images/{{movie.imdbID}}.jpg" alt="{{movie.title}}">
        </div>
    </div>


</div>

